Bluemix-IOT-Demo/Node-RED.json
[{"id":"ce553a70.52cad8","type":"ibmiot in","z":"1cbc5acd.0ba80d","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"080028585a7b","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Bluemix-IOT-Demo","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121.5,"y":335,"wires":[["32ecaf04.d391d","a9f98743.d1a778","b1df43c6.62f978"]]},{"id":"74db6fa9.e1339","type":"function","z":"1cbc5acd.0ba80d","name":"Temp Alerts","func":"var number = msg.payload.TempC;\n\nif (number >24)\n{\n    number = number*9/5 + 32;\n    msg = { payload: \"The temperature is \" + number + \", this is too hot.\"};\n}\nelse if (number < 0)\n{\n    msg = { payload: \"The temperature is \" + number + \", this is too cold.\"};\n}\nelse msg = { payload: \"The temperature is \" + number};\n\nreturn [msg];","outputs":"1","noerr":0,"x":662.5,"y":252,"wires":[["6aa6c12.9b3b2c"]]},{"id":"32ecaf04.d391d","type":"debug","z":"1cbc5acd.0ba80d","name":"","active":true,"console":"false","complete":"payload","x":389.5,"y":160,"wires":[]},{"id":"cd92299d.773d28","type":"twilio out","z":"1cbc5acd.0ba80d","service":"_ext_","twilio":"632fc938.1d59d","from":"","number":"+19196245562","name":"SMS to Chip's Phone","x":1052.5,"y":94,"wires":[]},{"id":"2f85d5d5.5ba63a","type":"e-mail","z":"1cbc5acd.0ba80d","server":"smtp.gmail.com","port":"465","name":"chipmc@us.ibm.com","dname":"eMail to Chip at Work","x":1054.5,"y":165,"wires":[]},{"id":"2083af3f.fd1ff","type":"debug","z":"1cbc5acd.0ba80d","name":"","active":true,"console":"false","complete":"payload","x":1069.5,"y":303,"wires":[]},{"id":"b1df43c6.62f978","type":"cloudant out","z":"1cbc5acd.0ba80d","name":"Shipment Health Data","cloudant":"","database":"twilliored","service":"Bluemix-IOT-Demo-cloudantNoSQLDB","payonly":false,"operation":"insert","x":405.5,"y":436.25,"wires":[]},{"id":"7e1998d3.331f6","type":"function","z":"1cbc5acd.0ba80d","name":"Orientation Alerts","func":"var orientation = (msg.payload.Orient);\n\n\nswitch (orientation) {\n    case 1:\n        msg = { payload: \"The package is on its back\"};\n        break;\n    case 2: \n        msg = { payload: \"The package is on its face\"};\n        break;\n    case 3: \n        msg = { payload: \"The package is rightside up\"};\n        break;\n    case 4: \n        msg = { payload: \"The package is upside down\"};\n        break;\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":680,"y":303.0999755859375,"wires":[["6aa6c12.9b3b2c"]]},{"id":"a9f98743.d1a778","type":"split","z":"1cbc5acd.0ba80d","name":"Split for Alerts","splt":"\\n","x":391,"y":336.0999755859375,"wires":[["74db6fa9.e1339","7e1998d3.331f6","cf9f22ac.fcb558","99cf1406.e65c28","409240f4.c6db5"]]},{"id":"cf9f22ac.fcb558","type":"function","z":"1cbc5acd.0ba80d","name":"Tilt Alerts","func":"// OK, so I did not come up with this on my own\n// https://www.nxp.com/files/sensors/doc/app_note/AN3461.pdf\n\nvar xAxis = msg.payload.aX;\nvar yAxis = msg.payload.aY;\nvar zAxis = msg.payload.aZ;\nvar dropped = msg.payload.Tap\n\nif (dropped)    // If the package has been dropped the angles will not be accurate\n{\n    msg = {payload: \"The package has been Dropped\"};\n}\nelse // Only get the angular data if the package is on the ground\n{\n    // apply trigonometry to get the pitch and roll:\n    var pitch = Math.atan(xAxis/Math.sqrt(Math.pow(yAxis,2) + Math.pow(zAxis,2)));\n    var roll = Math.atan(yAxis/Math.sqrt(Math.pow(xAxis,2) + Math.pow(zAxis,2)));\n    //convert radians into degrees\n    pitch = pitch * (180.0/Math.PI);\n    roll = roll * (180.0/Math.PI) ;\n    if (isNaN(pitch)) pitch = 0;\n    if (isNaN(roll)) roll = 0;\n    if (pitch > roll)\n    {\n        msg = {payload: \"The package is tilted: \" + pitch.toFixed(0)};\n    }\n    else\n    {\n       msg = {payload: \"The package is tilted: \" + roll.toFixed(0)};\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":355.1000061035156,"wires":[["6aa6c12.9b3b2c"]]},{"id":"6aa6c12.9b3b2c","type":"join","z":"1cbc5acd.0ba80d","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"1","count":"","x":908,"y":303.1000061035156,"wires":[["2083af3f.fd1ff"]]},{"id":"99cf1406.e65c28","type":"switch","z":"1cbc5acd.0ba80d","name":"","property":"payload.Tap","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":661,"y":94.0999755859375,"wires":[["12af0e59.24dc9a"]]},{"id":"12af0e59.24dc9a","type":"function","z":"1cbc5acd.0ba80d","name":"Drop Alert","func":"\nmsg = {payload: \"Your package has been dropped\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":824,"y":94.10000610351562,"wires":[["cd92299d.773d28"]]},{"id":"7d1ffb49.9e16c4","type":"function","z":"1cbc5acd.0ba80d","name":"Temp Alert","func":"\nmsg = {payload: \"Your package is too hot\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":828,"y":166.10000610351562,"wires":[["2f85d5d5.5ba63a"]]},{"id":"409240f4.c6db5","type":"switch","z":"1cbc5acd.0ba80d","name":"","property":"payload.Temp","propertyType":"msg","rules":[{"t":"gt","v":"24","vt":"str"}],"checkall":"true","outputs":1,"x":663,"y":166.10000610351562,"wires":[["7d1ffb49.9e16c4"]]},{"id":"632fc938.1d59d","type":"twilio-api","z":"1cbc5acd.0ba80d","sid":"ACf30c4e91c2de8a5044e30db2c07412e6","from":"(919) 230-9731","name":"Your Shipment Sensor"}]
